
<%- include('header') %>
<style>
  .success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
  <div class="success-container">
    <img src="/images/check.png" width="300px"/>
    <p>Workout completed successfully</p>
</div>
<%- include('footer') %>

