<%- include('header') %>

  <div class="dashboard-cards-container" >
    <div class="row">
        <div class="col s12 m4">
          <div class="card-panel teal">
            <span class="white-text">Your streak 15/30
            </span>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card-panel teal">
            <span class="white-text">Most recent workout: Curls
            </span>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card-panel teal">
            <span class="white-text">
                Average Accuracy: 80%
            </span>
          </div>
        </div>
      </div>
  </div>

  <div class="row workout list">
    <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout">
        <img class="img-fluid" src="/images/triceps.jpg"/>
        </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout">
          <img class="img-fluid" src="/images/biceps.jpg"/>
        </a>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card-panel ">
        <a href="/exercise/workout">
          <img class="img-fluid" src="/images/biceps.jpg"/>
          change image here
        </a>
      </div>
    </div>
  </div>
</div>

]
<%- include('footer') %>

