<%- include('header',user) %>
  <script src="/js/camera_utils.js"></script>
  <!-- Require the peer dependencies of pose-detection. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>

  <!-- You must explicitly require a TF.js backend if you're not using the TF.js union bundle. -->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-webgl"></script>
  <!-- Alternatively you can use the WASM backend: <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-backend-wasm/dist/tf-backend-wasm.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/pose-detection"></script>
  <script src="/js/Sketcher.js"></script>
  <script src="/js/CanvasAnimator.js"></script>
  <script src="/js/PoseMapper.js"></script>
  <script src="/js/AREngine.js"></script>
  <script src="/js/AREngineBuilder.js"></script>
  <script src="/js/fabric.js"></script>

  <style>
    #user-video {
      width: 100%;
      height: 100%;
      max-height: 100vh;
    }

    .ARWorkoutContainer {
      margin: auto;
      display: table;
      position: relative;
    }

    #user-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .info-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #drawing-canvas,.canvas-container{
      position: absolute!important;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
}
#drawing-canvas{
  transform: scaleX(-1);
}
.debug p{
  font-weight: bold;
  font-size: 30pt;
}
.debug{
  display: flex;
    justify-content: space-around;
}
  </style>
  <div class="ARWorkoutContainer">
    <video id="user-video"></video>
    <canvas id="user-canvas"></canvas>
    <canvas id="drawing-canvas"></canvas>
    <div class="info-message"> Initializing.....</div>
  </div>
  <div class="debug">
    <div>
      current step:
      <p id="current-step"></p>
    </div>
    <div>
      next step:
      <p id="next-step"></p>
    </div>
    <div>
      euclidian distance:
      <p id="euclidian-distance"></p>
    </div>
    <div>
      Pose status:
      <p id="pose-status"></p>
    </div>
    <div style="border: solid green 2px; border-radius: 5px;">
      Reps:
      <p style="color: green; font-family: 'Courier New', Courier, monospace;" id="reps"></p>
    </div>
  </div>


  <script>

    navigator.mediaDevices
      .getUserMedia({
        video: {
          width: { ideal: 640 },
          height: { ideal: 480 }
        },
        audio: false,
      })
      .then((stream) => {
        var video = $('#user-video').get(0)
        video.srcObject = stream;
        video.onloadedmetadata = function (e) {
          video.play();
          var ARWorkout = new ARWorkoutEngineBuilder()
            .addUserVideo(video)
            .addUserStream(stream)
            .addUserCanvas($('#user-canvas').get(0))
            .addDrawingCanvas($('#drawing-canvas').get(0))
            .build()
        };
      })
    $(document).ready(function () {
      $('body').on('model-loaded', function () {
        $('.info-message').hide()
        
      })
    })


  </script>
  <%- include('footer') %>